th {
    font-size: 17px;
}
.display-4{ 
    font-size: 25px;
    font-weight: bold;
    left: 0%;
}
td {
    font-size: 17px;
}
h3{
    text-align: left
}
.input-group {
    padding: 30px;
    /* margin: 30px; */
}

.jumbotron {
    text-align: center;
    left: 10%;
    right: 10%;
}



.card.mb-4.p-4 {
    left: 10%;
    right: 10%;
}

#add-route-button {
    height: auto;
    width: auto;
    font-size: 11px;
    color: black;
    background-color: #e9ecef;
}

#first-box {
    color: red;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 90%;
}

.card-body{ 
      color: green;
      left: 10%;
      right: 10%;
}