body {
    background-color: #00a650;
}
th {
    font-size: 17px;
}
.display-4{ 
    font-size: 25px;
    font-weight: bold;
    left: 0%;
}
td {
    font-size: 17px;
    color: black;
}
h3{
    text-align: left
}
.input-group {
    padding: 30px;
    /* margin: 30px; */
}

.jumbotron {
    text-align: center;
    left: 10%;
    right: 10%;
    background-color: #fff200;
    color: seagreen;
    height: 50%;
    font-weight: bold;
    border: black;
    border-style: solid;
    border-width: 5px; 
}

.display-4{ 
    font-size: 40px;
}
 
.lead {
    font-weight: bold;
}


.card.mb-4.p-4 {
    left: 10%;
    right: 10%;
    height: 44%;
    border-style: solid;
    border-color: #fff200;
    border-width: 5px;
}

#add-route-button {
    height: auto;
    width: auto;
    font-size: 11px;
    color: black;
    background-color: #e9ecef;
}

#first-box {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 88%;
    border-style: solid;
    border-color: #fff200;
    border-width: 5px;
}

.card-body{ 
      color: #00a650;
      left: 10%;
      right: 10%;
}

@media screen and (max-width: 980px){
    body {
        background-color: #00a650;
    }
    th {
        font-size: 17px;
    }
    .display-4{ 
        font-size: 25px;
        font-weight: bold;
        left: 0%;
    }
    td {
        font-size: 17px;
        color: black;
    }
    h3{
        text-align: left
    }
    .input-group {
        padding: 30px;
        /* margin: 30px; */
    }
    
    .jumbotron {
        text-align: center;
        left: 10%;
        right: 10%;
        background-color: #fff200;
        color: seagreen;
        height: 50%;
        font-weight: bold;
        border: black;
        border-style: solid;
        border-width: 5px; 
    }
    
    .display-4{ 
        font-size: 40px;
    }
     
    .lead {
        font-weight: bold;
    }
    
    
    .card.mb-4.p-4 {
        left: 10%;
        right: 10%;
        height: 44%;
        border-style: solid;
        border-color: #fff200;
        border-width: 5px;
    }
    
    #add-route-button {
        height: auto;
        width: auto;
        font-size: 11px;
        color: black;
        background-color: #e9ecef;
    }
    
    #first-box {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 88%;
        border-style: solid;
        border-color: #fff200;
        border-width: 5px;
    }
    
    .card-body{ 
          color: #00a650;
          left: 10%;
          right: 10%;
    }
}

@media screen and (max-width: 780px){
    body {
        background-color: #00a650;
    }
    th {
        font-size: 17px;
    }
    .display-4{ 
        font-size: 25px;
        font-weight: bold;
        left: 0%;
    }
    td {
        font-size: 17px;
        color: black;
    }
    h3{
        text-align: left
    }
    .input-group {
        padding: 30px;
        /* margin: 30px; */
    }
    
    .jumbotron {
        text-align: center;
        left: 10%;
        right: 10%;
        background-color: #fff200;
        color: seagreen;
        height: 50%;
        font-weight: bold;
        border: black;
        border-style: solid;
        border-width: 5px; 
    }
    
    .display-4{ 
        font-size: 40px;
    }
     
    .lead {
        font-weight: bold;
    }
    
    
    .card.mb-4.p-4 {
        left: 10%;
        right: 10%;
        height: 44%;
        border-style: solid;
        border-color: #fff200;
        border-width: 5px;
    }
    
    #add-route-button {
        height: auto;
        width: auto;
        font-size: 11px;
        color: black;
        background-color: #e9ecef;
    }
    
    #first-box {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 88%;
        border-style: solid;
        border-color: #fff200;
        border-width: 5px;
    }
    
    .card-body{ 
          color: #00a650;
          left: 10%;
          right: 10%;
    }
}
@media screen and (max-width: 640px){
    body {
        background-color: #00a650;
    }
    th {
        font-size: 17px;
    }
    .display-4{ 
        font-size: 25px;
        font-weight: bold;
        left: 0%;
    }
    td {
        font-size: 17px;
        color: black;
    }
    h3{
        text-align: left
    }
    .input-group {
        padding: 30px;
        /* margin: 30px; */
    }
    
    .jumbotron {
        text-align: center;
        left: 10%;
        right: 10%;
        background-color: #fff200;
        color: seagreen;
        height: 50%;
        font-weight: bold;
        border: black;
        border-style: solid;
        border-width: 5px; 
    }
    
    .display-4{ 
        font-size: 40px;
    }
     
    .lead {
        font-weight: bold;
    }
    
    
    .card.mb-4.p-4 {
        left: 10%;
        right: 10%;
        height: 44%;
        border-style: solid;
        border-color: #fff200;
        border-width: 5px;
    }
    
    #add-route-button {
        height: auto;
        width: auto;
        font-size: 11px;
        color: black;
        background-color: #e9ecef;
    }
    
    #first-box {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 88%;
        border-style: solid;
        border-color: #fff200;
        border-width: 5px;
    }
    
    .card-body{ 
          color: #00a650;
          left: 10%;
          right: 10%;
    }
}